#select-student{
  display:grid;
 
}

.nameItem {
 cursor: pointer;
 padding: 12px 16px;
 text-decoration: none;
 text-align:center;
 display: block;
}

.nameItem:hover{
  background-color: #ddd
}

input {
  outline: none;
}

#myInput {
        /* width: 140px; */
    /* font-size: 16px; */
    padding: 10px;
    width:85%;
    height: 41px;
    border: none;
    background: #308fce;
    color: white !important;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 12px;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-family: roboto;
  letter-spacing: 2px;
    font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-family: roboto;
  letter-spacing: 2px;
    font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 100;
}



.dropdown {
    align-self: center;
    position: relative;
    display: inline-block;
    background: #308fce;
    box-shadow: 1px 1px 1px #717070;
    height: 60px;
    cursor: pointer;
}


.dropdown-content {
    width: 100% !important;
    position: absolute;
    background-color: #308fce;
    width: 150px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
}

.show {display:block !important;}

.hidden {display: none}

#nameList{
  max-height:300px;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 100;
  color:white;
}

#name-container {
  display:grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background: #3498db;
  height: 50px;
}
.student-name {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: #308fce;
    color: white;
    padding: 14px;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 12px;
    text-align: center; 

}

.material-icons {
  font-size: 19px !important;
}

.remove-student {
    color: white;
    border-radius: 2px;
    cursor: pointer;
}