/* Test Suite */
#mocha{
  max-width: 700px;
  font-size: 12px;
  border: 1px solid white;
  margin: 0 auto;
}

/* Global Style */
body{
  background:#cecece00;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 700px;
    grid-gap: 5px;
}





/* Header */ 
#header{
    background: #03A9F4;
    min-height: 51px;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    font-family: roboto;
    letter-spacing: 10px;
    font-weight: 100;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;

  }
  #header{
    font-size: 20px;
  }
}

.ui-wrapper{
    display: grid;
    grid-template-rows: 70px 90px 3fr 0fr;
}
@media (max-width: 500px) {
    .ui-wrapper{
        display: grid;
        grid-gap:5px;
        grid-template-rows: 136px 58px 2fr 0fr;
    }
}


/* Canvas */ 
#canvas{
  background-color: '#03A9F4 !important';
}

#canvas2{
  align-self:center;

}

video.recordedVid {
    width: 700px;
}

@media (max-width: 500px) {
  #canvas2{
    align-self:center;
    max-width: 96vw;
  }
  video.recordedVid{
    width:95vw;
  }
}
/* Drop down selectors */

#selectors{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0fr;
  cursor: pointer;
}

@media (max-width: 500px) {
  #selectors{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr;
    grid-gap: 8px;
  }
}




#prev {
    color: #03A9F4;
    border:none;
    font-size: 82px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #717070;
}

#next {
    color: #03A9F4;
    border:none;
    font-size: 82px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #717070;
}

#rec {
    color: white;
    box-shadow: 1px 1px 1px #717070;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 12px;
    background: #9b59b6;
    height: 35px;
    align-self: center;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    width: 99%;
}

#buttons{
 /* display: none;*/
  grid-template-columns: 1fr 1fr 1fr;
}


/* ---- The container of student books ---- */
.container {
    display: block;
    position: relative;    
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis; 
    font-family: roboto;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 12px;
    color:white;
}

.book-set {
    display: grid;
    grid-template-columns: 1fr 2fr;

    grid-gap: 5px;
}


/* ---- book list ---- */

#book-list-header{
  margin: -10px;
  margin-bottom: 10px;
  text-align: right;
  padding: 7px;
  color:white;
}

#book-list{
 /* position: absolute;*/
  margin-top: -38px;
  display:grid;
  background: #03A9F4;
  z-index: 100;
  padding: 10px;
  display: none;
  box-shadow: 1px 1px 1px #717070;
}

div#book-list-data {
    display: grid;
    grid-gap: 12px;
}

#buttons{
  display: none;
}

.container{

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    display: none;
}

#vidSound{
    background: #8BC34A;
    height: 51px;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    font-family: roboto;
    letter-spacing: 10px;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 1px 1px 1px #717070;
    align-items: center;
    align-self: center;
    margin-top: 20%;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;    
}

.checkmarkRed {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;    
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #03A9F4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#download-button {
    color: white;
    box-shadow: 2px 2px 1px 0px #9E9E9E;
    background: #03A9F4;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    display:none;
    text-decoration: none;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 100;
}

i.material-icons.chevron {
  font-size: 36px !important;
}